<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/auth.css" />
</head>
<body>

  <div class="auth-container">
    <h2>Create Account</h2>

    <form action="/signup" method="post">
      <input type="text" name="username" placeholder="Username" value="<%= username %>"
      class="<%= usernameError ? 'input-error' : '' %>" required>

      <% if (usernameError) { %>
       <p class="error-message"><%= usernameError %></p>
      <% } %>

      <input type="email" name="email" placeholder="Email" value="<%= email %>"
      class="<%= emailError ? 'input-error' : '' %>" required>

      <% if (emailError) { %>
       <p class="error-message"><%= emailError %></p>
      <% } %>

      <div class="password-box">
        <input type="password" id="signupPassword" name="password" placeholder="Password" required>
        <span class="toggle-password" onclick="togglePassword('signupPassword', this)">
          👁
        </span>
      </div>

      <button type="submit" class="auth-btn">Sign Up</button>

    </form>

    <div class="auth-footer">
      Already have an account?
      <a href="/login">Login</a>
    </div>

  </div>

  <script src="/js/auth.js"></script>
</body>
</html>